
.price-area{
    height: 600px;
    padding:100px
}


.price{
   
    background-color: rgb(218, 218, 235);
    padding: 20px;
    border-radius: 10px;
}

.price-btn{
    width: 150px;
    height: 40px;
    background-color: #33B9CB;
    border-radius: 10px;
}